@page "/Experience"
<!-- Experience Section -->
<PageTitle>Related Experience</PageTitle>
<h1>Related Experience</h1>
<p>University of California – Student Computer Technician (October 2023 – Current)</p>
<ul>
    <li>Organizational skills in cleaning and maintaining a busy lab and office environment</li>
    <li>Opening and closing instructional lab</li>
    <li>Experience with Mac and/or Windows hardware and system software</li>
</ul>

<p>Truman State University – Computer Science Fundamentals Class Teaching Assistant (January 2023 – May 2023)</p>
<ul>
    <li>Graded student work and answered questions on coding in C++ and object-oriented programming</li>
    <li>Facilitated hands-on lab sessions, helping students understand complex concepts</li>
    <li>Provided constructive feedback to support student development of coding skills</li>
</ul>

<p>University of North America – System Administrator (May 2022 – August 2022)</p>
<ul>
    <li>Built a load balancing controller to ensure network services function under high traffic</li>
    <li>Wrote SQL-oriented scripts for log file analysis and graph generation</li>
    <li>Used Ansible for batch maintenance operations on the server</li>
    <li>Deployed Splunk for log analysis and conducted server maintenance</li>
</ul>

<p>Truman State University – Admission Office (January 2021 – Spring 2023)</p>
<ul>
    <li>Managed the admissions process and reviewed international applications</li>
    <li>Answered queries from prospective applicants</li>
    <li>Assisted with recruitment initiatives through webinars and interviews</li>
</ul>
