@page "/Projects"

<!-- Projects Section -->
<PageTitle>Projects</PageTitle>
<h1>Personal Projects</h1>
<p href="https://github.com/TheRealMilesLee/Random-ideas/tree/master/ElectronLatex">Electron Latex – An offline Latex editor app based on Electron.</p>

<ul>
    <li>Simplified document editing without intricate setup</li>
    <li>Streamlined the editing process with an intuitive platform</li>
    <li>Eliminated the time-consuming setup required for LaTeX environments</li>
    <li>Implemented features for effortless editing, enhancing productivity and user experience</li>
    <li>Contributed to a hassle-free environment for LaTeX document editing</li>
</ul>

<p href="https://github.com/The-Fabulous-Truman-Developer/WechatDeveloper">WeChat Mini-program Project – Founder & Leader & Main developer</p>
<ul>
    <li>Coordinated development work and assigned tasks to team members</li>
    <li>Built the overall architecture of the software</li>
    <li>Constructed the running network environment and resource distribution server</li>
    <li>Built the content structure for the application and gave guidance on UI design</li>
    <li>Promoted the app to the CIS office and accepted as the official marketing platform targeting the Chinese market</li>
    <li>Set up remote network requirements such as configuration-related servers</li>
</ul>

<p href="https://github.com/TheRealMilesLee/MusicPlayer-macOS">Peace – A macOS Music Player-Graduation Capstone Project</p>
<ul>
    <li>Built using Swift Language based on Swift UI framework</li>
    <li>Application features include music play, pause, stop, next song, previous song, create a playlist, import playlist</li>
    <li>Personalized feed based on the number of times songs have been played</li>
    <li>Supports local music play and opens the music folder as a playlist from the local disk</li>
</ul>
